# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/

# Production build
build/
dist/

# Environment files
.env
.env*.local

# Debug
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
.vercel
